body {
  padding: 17px;
}
h3,
h4,
h5,
button,
div,
span {
  font-family: Microsoft JhengHei;
}
table {
  width: 100%;
}
table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}
th,
td {
  text-align: center;
}
th {
  background-color: rgb(226, 226, 226);
  font-size: 15px;
}
td {
  font-size: 25px;
}
#add_player {
  border: none;
  background: none;
  padding: 5px 0;
  color: rgb(134, 134, 134);
}
#add_player:focus,
.icon_button:focus {
  outline-width: 0;
}
.icon_button {
  border: none;
  background: none;
}
#return_to_zero,
#adjust,
#check {
  margin: 0 0 13px 15px;
}
#next_round_h4 {
  font-size: 25px;
  margin-left: 15px;
  margin-bottom: 7px;
}
#round_start_button {
  margin-top: 20px;
  float: right;
}
#current_player {
  font-weight: bolder;
  border-bottom: 1px solid black;
}
#words {
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 15px;
}
#time {
  font-size: 30px;
}
button[class^="btn"] {
  margin: 5px;
  font-size: 20px;
}
.minus {
  display: none;
  cursor: pointer;
  position: absolute;
  border: none;
  background: none;
  padding: 0;
  left: 10.3%;
  top: 25%;
  font-size: 12px;
}
.minus:focus {
  outline: none;
}
.plus {
  display: none;
  cursor: pointer;
  position: absolute;
  border: none;
  background: none;
  padding: 0;
  left: 80%;
  top: 25%;
  font-size: 12px;
}
.plus:focus {
  outline: none;
}
.playing_div {
  padding-left: 50px;
  padding-top: 15px;
  margin-bottom: 60px;
}
.btn_skip {
  color: rgb(189, 0, 0);
}

hr {
  width: 100%;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  display: none;
}
/*  Extra small (.col-) < 576px
    sm ≥ 576px 
    md ≥ 768px
    Lg ≥ 992px
    xl ≥ 1200px */
@media only screen and (max-width: 1200px) {
  .playing_div {
    text-align: center;
    padding-left: 0;
  }
}
@media only screen and (max-width: 576px) {
  hr {
    display: block;
  }
  .playing_div {
    padding-top: 0;
  }
}
